<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bestellung {bestellung.getBestellungID()}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Pizza</th>
            <th>Menge</th>
            <th>Preis</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {#for bestellposten in bestellung.getBestellposten()}
        <tr>
            <form action="/bestellungen/bestellposten/{bestellposten.getBestellpostenID()}" method="POST">
                <td><a href="/pizzen/{bestellposten.getPizza().getId()}">{bestellposten.getPizza().getName()}</a></td>
                <td>
                    <input name="menge" type="number" value="{bestellposten.getMenge() ?: ''}">
                </td>
                <td>{bestellposten.getPreis()}</td>
                <td><input class="btn btn-warning" type="submit" value="Edit"></td>
            </form>
        </tr>
        {/for}

        </tbody>
        <tfoot>
        <tr>
            <form action="/bestellungen/{bestellung.getBestellungID()}/bestellposten}" method="POST">
                <td>
                    <select name="pizzaname">
                        {#for pizza in pizzen}
                        <option value="{pizza.getName()}">{pizza.getName()}</option>
                        {/for}
                    </select>
                </td>
                <td><input type="number" name="menge"></td>
                <td></td>
                <td><input type="submit" value="Hinzufügen"></td>
            </form>
        </tr>
        </tfoot>
    </table>
    <a href="/kunden/me">Profil</a>
    <a href="/pizzen" target="_blank">Katalog</a>
</div>
</body>
</html>